<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Person Page</title>
</head>
<body>

    <div th:object="${person}">
        <ul>
            <li th:text="*{id}">person id ....</li>
            <li th:text="*{name}">person name ....</li>
        </ul>
    </div>

    <div>
        <ul>
            <li><a th:href="@{/hello}">Hello Page</a></li>
            <li><a th:href="@{/}">Index Page</a></li>
        </ul>
    </div>

</body>
</html>